.st1{ margin-left:300px; margin-right: 369px; margin-left: 400px; }

section{ display: block;}

h4 img{ width: 20px;}
#logo{display:block; float: right; color: gray; padding-top: 25px;}

h1 {font: weight bolder;; font-size: 40px; font-family: 'Barlow Semi Condensed', sans-serif; }

h3{color: grey; font-family: 'VT323', monospace; font-size: 14px; margin-top: -30px;}

p{margin-left: 0px; color: gray; text-indent: 30px;}

article{ width: 75%; float: left; }

article h4{    padding: 4px 0px 0px 0px; margin: 0px 0px 0px 0px; padding-left: 31px;  margin-left: 19px;margin-right: 52px; padding-top: 6px;  padding-right: 42px;}
article img{float: left; margin-right: 28px;}
article p{padding: 4px 0px 0px 0px; text-indent: 0px; font-size: 19px;}


button{width: 25%;  float: right;  background-color: #b0544d;  color: white; font-size: 15px;   padding: 15px 40px; margin-top: 22px;}
 footer p {text-align: center; color: gray;}